branca==0.8.2
certifi==2026.1.4
charset-normalizer==3.4.4
folium==0.18.0
gpxpy==1.6.2
idna==3.11
Jinja2==3.1.6
MarkupSafe==2.1.5
numpy==1.24.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.15.0
PyQt6==6.4.2
PyQt6-Qt6==6.4.3
PyQt6-WebEngine==6.4.0
PyQt6-WebEngine-Qt6==6.4.3
PyQt6_sip==13.8.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.18
requests==2.32.4
urllib3==2.2.3
xyzservices==2025.11.0

networkx
osmnx